table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: #333;
  font-family: Helvetica Neue;
}
table, th, td {
  border: 1px solid grey;
}
th, td {
  text-align: left;
}
tr:nth-child(even){
  background-color:#eee;
}
#menu {
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.menu-left {
  width: 100%;
}
.menu-right {
  width: 100%;
}

@media (min-width: 990px){
  .flex-container {
    flex-direction: row;
  }
  .left {
    width: 30%;
  }
  .right {
    width: 70%
  }
}